.container {
    margin-top: 30px;
    position: relative;
}

.ic {
    content: url("../media/deafult.png");
    width: 100%;
    height: 100%;
}

.bintang {
    width: 15%;
    height: 15%;
}
.bttnn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 30px;
}

.ic:hover {
    content: url("../media/add.png");
    width: 100%;
    height: 100%;
}

.row {
    margin-left: -150px;
    margin-right: -150px;
}

.del {
    content: url("../media/add.png");
    width: 100%;
    height: 100%;
}

.kategori {
    margin-top: 1rem;
    border: solid;
    border-color: #ff7676;
    border-radius: 16px;
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
    color: #ff7676;
    font-size: 20px;
    text-align: center;
    width: 200px;
}

.kategori:hover {
    color: #ff7676;
    background-color: #ff7676;
    color: white;
}