<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8" name="google-signin-client_id" content="1083655204154-fg00v4hnuadi7kq8t6og1ouvmfk2pt9u.apps.googleusercontent.com">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body class="container">
    {% csrf_token %}
    <h1>Hello, {{ nama }}</h1>
    <h2><span class="count">Add to Favorites: {{ count }}</span></h2>
    <br>
    <button class='kategori' id='quilting'>Quilting</button>
    <button class='kategori' id='programming'>Programming</button>
    <button class='kategori' id='architecture'>Architecture</button>
    <div class="signout"><a href="{% url 'logout' %}" onclick="signOut()">Sign out</a></div>
    </div>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Judul</th>
            <th scope="col">Penulis</th>
            <th scope="col">Diterbitkan</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
     <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script></body>
    <script src="{% static 'js/home.js' %}"></script>
    <script src="{% static 'js/account.js' %}"></script>

</body>
</html>