<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8" name="google-signin-client_id" content="1083655204154-fg00v4hnuadi7kq8t6og1ouvmfk2pt9u.apps.googleusercontent.com">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
{% csrf_token %}
<br><div class="contain">
    <h3>Please log in</h3>
    <div class="g-signin2" data-onsuccess="onSignIn" data-width="300" data-longtitle="true"></div>
    </div>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="{% static 'js/account.js' %}"></script>
</body>
</html>